@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0px;
    list-style: none;
    font-size: 14px;
    font-family: "Exo 2", sans-serif;
    --pri-color: #634221;
    --sec-color: #f4cb23;
    --nav-color: white;
}

a {
    text-decoration: none;
    color: var(--pri-color);
}

h1 {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
}

h2 {
    margin: 5px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pri-color);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 90px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.30);
}

.header img {
    width: 55px;
}

.logo-link {
    margin-left: 20%;
}

.logo {
    display: flex;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--nav-color);
    font-size: 11px;
    line-height: 1.1;
    margin: 5px;
}

.logo-text p:nth-child(2) {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

.menu {
    margin-right: 20vw;
}

.navtop {
    display: flex;
    align-items: center;
}

.navtop i {
    margin-right: 5px;
}

.navtop a {
    color: var(--nav-color);
    display: block;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.show-on-index {
    display: none !important; /* Esconde o botão inscreva-se por padrão */
}

.home .show-on-index {
    display: list-item !important; /* Exibe o botão se a classe "home" for definida no body */
}

.button-style {
    border: 1px solid var(--sec-color);
    background-color: var(--sec-color);
    border-radius: 0.3rem;
    padding: 6px 10px;
    color: var(--nav-color);
    text-transform: uppercase;
    cursor: pointer;
}

.button-style:hover {
    background-color: transparent;
    color: var(--sec-color);
    /* transition: 0.5s ease; */
}

.navtop .button-style {
    padding: 6px 10px;
}

.navtop :hover {
    color: var(--sec-color);
}

.main {
    margin-top: 90px;
    /*border: 5px solid var(--sec-color);
    background-color: tomato;*/
}

form {
    /* background-color: gray; */
    padding: 20px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* padding: 100px; */
    width: 500px;
    /* background-color: tomato; */
}

.form-cadastro .button-style {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin: 5px 0;
    box-sizing: border-box;
    resize: vertical;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.news {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

.news div {
    flex: 1 1 200px;
    margin: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.20);
    border-radius: 10px 10px 0 0;
    padding: 0 0 20px 0;
}

.news h2 {
    padding: 10px 10px 5px 10px;
    text-transform: uppercase;
}

.news p {
    padding: 0 10px 15px 10px;
}

.news img {
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

.news .button-style {
    margin-left: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}

.calendar {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
}

.calendar p {
    display: flex;
    color: var(--pri-color);
    line-height: 0.5;
    font-size: 18px;
}

.calendar p:nth-child(1) {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}

.calendar iframe {
    margin: 20px auto; /* Make the iframe responsive within its container */
    width: 100%;
    height: 600px; /* Set a specific height */
    border: none; /* Remove default Google border (optional, already in the HTML) */
    border-radius: 1rem;
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 15vh;
    background-color: #634221ec;
    padding: 50px 20%;
}

.logo-footer {
    display: flex;
}

.logo-footer img {
    max-width: 55px;
    object-fit: contain;
}

.data-footer {
    display: flex;
    height: min-content;
    align-items: flex-start;
    /* background-color: tomato; */
}

.data-footer a {
    color: var(--nav-color);
    display: flex;
    margin: 0 0 0 5px;
    font-weight: 200;
}

.data-footer a:hover {
    color: var(--sec-color);
}

.data-footer-column {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px solid yellow;*/
    width: max(15em);
}

.data-footer-column h3 {
    padding: 0px 10px;
    color: var(--nav-color);
    font-weight: 800; /* Ajustar para eliminar a barra lateral direita*/
    height: 18px;
    /*background-color: #f4cb23;*/
    border-left: 4px solid var(--sec-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.data-footer-column p {
    color: var(--nav-color);
    font-weight: 200;
    margin: 0 0 0 5px;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pri-color);
    padding: 20px 20%;
    border-top: 1px solid #f4cb23;
}

.bottom-footer p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 200;
    color: var(--nav-color);
}

.bottom-footer i {
    color: var(--nav-color);
    font-size: 25px;
    /* margin: 0 0 0 5px; */
    padding: 5px;
}

.bottom-footer i:hover {
    color: var(--sec-color);
}



@media (max-width: 768px) {
    .header{
        display: flex;
        flex-wrap: nowrap;
    }

    .logo-link {
        margin-left: 10px;
    }

    .menu {
        margin-right: 10px;
    }
    .header img {
        width: 40px;
    }

    .nav-text {
        display: none;
    }
    .navtop i {
        font-size: 25px;
        margin-right: 0px;
    }

    .navtop a {
        padding: 8px;
    }
    
    .top-footer {
        flex-direction: column;
        align-items: center;
        height: 20vh;
        padding: 40px 10%;
    }
    
    .data-footer-column {
        width: 10em;
    }

    .logo-footer img {
        max-width: 40px;
    }

    .bottom-footer {
        padding: 10px 10%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}


@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    
    .home .show-on-index {
    display: none !important; /* Esconde o botão inscreva-se por padrão */
    }

    .header{
        display: flex;
        flex-wrap: nowrap;
        height: 70px;
    }

    .logo-link {
        margin-left: 10px;
    }

    .menu {
        margin-right: 10px;
    }

    .header img {
        width: 40px;
    }

    .nav-text {
        display: none;
    }
    .navtop i {
        font-size: 20px;
        margin-right: 0px;
    }

    .navtop a {
        padding: 8px;
    }

    .top-footer {
        flex-direction: column;
        align-items: center;
        height: 20vh;
        padding: 40px 5%;
    }

    .data-footer-column {
        width: 10em;
    }

    .logo-footer img {
        max-width: 40px;
    }

    .bottom-footer {
        padding: 10px 5%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .bottom-footer p {
        text-align: center;
    }
}