@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --pri-color: lightgray;
    --sec-color: #6cacd1;
    --text-color: #000;
    --font-family: 'Exo 2', sans-serif;
    --a-color: rgba(211, 211, 211, 0.596);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
    font-size: 14px;
}

section {
    padding: 30px 0;

}

a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}


h1 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    /* padding: 30px 0; */
    margin-bottom: 20px;
    color: var(--text-color);
}

input, select {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin: 5px 0;
    box-sizing: border-box;
    resize: vertical;
}

input::file-selector-button, input[type=submit], input[type=reset] {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color:rgb(245, 245, 245);
}

input[type=file] {
    padding: 0;
    border: 0px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(241, 241, 241);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.navbar-logo:hover {
    font-size: 1.5rem;
    font-weight: 800;

}

.dropdown {
  position: relative;
}

.dropdown:hover .btn-dropdown {
  background-color: var(--a-color);
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 0px;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:fit-content;

}

.search-form {
    display: flex;
    align-items:center;
    gap: 0.5rem;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns a {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 5px 0;
    box-sizing: border-box;
    resize: vertical;
    background-color:rgb(245, 245, 245);
    color: var(--text-color);
}

.btns a:hover, input[type=submit]:hover, input[type=reset]:hover, input::file-selector-button:hover {
  background-color: var(--sec-color);
  cursor: pointer;
  color: #fff;
}

.cadastro-container {
    display: flex;
    /* width: 100vw; */
    margin: 0 auto;
    /* border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 0.5rem; */
    /* background-color: tomato; */
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 30px;
    background-color: var(--pri-color);

}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.success {
    background-color: rgb(143, 255, 143);
    color: rgb(0, 180, 0);
}

.danger {
    background-color: rgb(241, 169, 169);
    color: rgb(180, 48, 48);
}


/* .grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;
} */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    /* width: 60px;
    height: 50px; */
    /* background-color: orange; */
    border: 1px solid var(--pri-color);
    border-radius: 0.5rem;
    justify-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 180px;
}

.product:hover{
    box-shadow:inset;
}

div .product img {
    width: auto;
    max-height: 200px;
    object-fit: contain;
    align-items: center;
    /* object-fit: contain; */
}

.texto {
    padding: 1rem;
}

.texto .h2 {
    font-weight: 800;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    padding: 0.8rem;
    font-weight: 600;
    /* border-radius: 0.3rem; */
}

.navbar-menu a:hover {
    background-color: var(--a-color);
}

.product-review {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 5px;
}

.product-review img {
    width: auto;
    max-height: 200px;
    object-fit: contain;
    align-items: center;
}

.btn-product-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.btn-product-group .btn {
    width: 48%;
}

.btn {
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    text-align: center;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.btn-alterar {
    background-color: rgb(199, 172, 19);
    color: #fff;
}
.btn-alterar:hover {
    background-color: rgb(235, 205, 34);
    color: #fff;
}

.btn-remover {
    background-color: rgb(151, 36, 0);
    color: #fff;
}

.btn-remover:hover {
    background-color: rgb(190, 46, 2);
    color: #fff;
}

.sem-registro {
    text-align: center;
    padding: 30px;

}